/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media only screen and (max-width: 667px) {
.wrapper {
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	/*width: 660px;*/
}
.hidden {
	display: none;
}
#headerContainer {
	background:
		linear-gradient(
			to right,
			rgba(66, 66, 66, .90),
			rgba(255, 255, 255, 0.1)
		),
		url("images/header.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
#logo {
	float: left;
	padding: 1.3vw;
	width: 20%;
	height: 20%;
}
#title {
	display: inline;
	font-size: 12vw;
	color: white;
}
h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 8vw;
}
#headerNav {
	padding: 10px;
	text-align: center;
}
#headerNav ul li {
	display: inline;
	font-size: 7vw;
	padding: 0 1% 0 1%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: .1em;
}
#headerNav ul li a {
	text-decoration: none;
	color: black;
}
#headerNav ul li a :visited{
	text-decoration: none;
	color: black;
}
	/*Footer styles*/
#footerContact {
	background-color: #2b2a24;
}
#footerNav {
	background-color: #2b2d33;
}
#footerSocial {
	background-color: #493f3f;
}
footer section p, footer nav ul li {
	padding: 0 0 5vw 20vw;
	font-size: 5vw;
	color: #f4f4f4;
}
footer section p {
	padding-bottom: 0;
}
footer nav ul li a, footer section a {
	color: #f4f4f4;
}
#mobileTel {
	 padding-left: 20vw;
	 margin-bottom: 3%;
	 font-size: 5vw;
	 color: #f4f4f4;
 }
footer nav ul li a:visited, footer section a:visited {
	color: #f4f4f4;
}
.footerTitles, nav#footerNav h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 7vw;
	padding: 0 0 1% 10%;
	color: #f4f4f4;
}
#numberMobile {
	padding-bottom: 2%;
}
footer section section, footer section nav {
	padding-top: 3%;
	padding-bottom: 5%;
}
	/*End of footer styles*/
	/*Main Styles*/
main section h3 {
	padding: 3% 0 0 8%;
}
main section p {
	font-size: 5vw;
	padding: 3% 10% 0 15%;
}
main section img {
	padding: 0 10% 0 8%;
	width: 77%;
}
/*sort box styles*/
.removeItem {
	display: inline;
	width: 5vw;
	height: 5vw;
	padding: 0 0 0 15%;
}
#sortBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#sortCheckboxes {
	display: inline;
	width: 40%;
}
#sortInputs {
	display: inline;
	width: 60%;
}
#submitButton {
	padding-left: 100%;
}
#contactUs {
	width: 90%;
	margin: 0 auto;
}
#formName, #formEmail {
	width: 45%;
	padding: 1% 0;
}
#formName {
	margin-left: 5%;
}
#formSubject, #formBody {
	width: 94%;
	margin-top: 2%;
	padding: 1% 2%;
}
#formBody {
	resize: none;
	margin-bottom: 3vh;
}
}
	/*Tablet*/
@media only screen
and (min-width:668px)
and (max-width:1023px) {
.wrapper {
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
}
.hidden {
	display: none;
}
#headerContainer {
	background:
		linear-gradient(
			to right,
			rgba(66, 66, 66, .90),
			rgba(255, 255, 255, 0.1)
		),
		url("images/header.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
#logo {
	float: left;
	padding: 1.3vw;
	width: 14%;
}
#title {
	display: inline;
	font-size: 8vw;
	color: white;
}
h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 7vw;
}
#headerNav {
	padding: 10px;
	text-align: center;
}
#headerNav ul li {
	display: inline;
	font-size: 5vw;
	padding: 0 2% 0 2%;
	margin: 0 4% 0 4%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: .1em;
}
#headerNav ul li a {
	text-decoration: none;
	color: black;
}
#headerNav ul li a :visited{
	text-decoration: none;
	color: black;
}
/*footer styles*/
#flexParent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
}
#footerContact {
	background-color: #2b2a24;
	width: 50%
}
#footerSocial {
	background-color: #493f3f;
	width: 50%
}
#footerNav {
	background-color: #2b2d33;
	width: 100%;
}
footer section p, footer nav ul li {
	padding: 0 0 3vw 5vw;
	font-size: 3.5vw;
	color: #f4f4f4;
}
footer section p {
	padding-bottom: 0;
}
footer nav ul li a, footer section a {
	color: #f4f4f4;
}
.footerNavChilds {
	display: inline;
}
#mobileTel {
	 padding-left: 5vw;
	 margin-bottom: 3%;
	 font-size: 3.5vw;
	 color: #f4f4f4;
 }
footer nav ul li a:visited, footer section a:visited {
	color: #f4f4f4;
}
.footerTitles, nav#footerNav h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 5vw;
	padding: 0 0 1% 3vw;
	color: #f4f4f4;
}
#numberMobile {
	padding-bottom: 2%;
	font-size: 5vw;
}
footer section section, footer section nav {
	padding-top: 3%;
	padding-bottom: 5%;
}
	/*End of footer styles*/
	/*Main Styles*/
main section h3 {
	padding: 3% 0 0 4%;
}
main section p {
	font-size: 3.5vw;
	padding: 3% 10% 0 8%;
}
main section img {
	padding: 0 10% 0 8%;
	width: 77%;
}
}
	/*Desktop*/
@media only screen and (min-width: 1024px) {
	.wrapper {
		background-color: #f4f4f4;
		font-family: 'Open Sans', sans-serif;
	}
	.hidden {
		display: none;
	}
	#headerContainer {
		background:
			linear-gradient(
				to right,
				rgba(66, 66, 66, .90),
				rgba(255, 255, 255, 0.1)
			),
			url("images/header.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		background-position: center;
	}
	#logo {
		float: left;
		padding: 1.3vw 1.3vw 1.3vw 4%;
		width: 10%;
	}
	#title {
		display: inline;
		font-size: 6vw;
		color: white;
	}
	h3 {
		font-family: 'Work Sans', sans-serif;
		font-size: 5vw;
	}
	#headerNav {
		padding: 1.5%;
		text-align: center;
	}
	#headerNav ul li {
		display: inline;
		font-size: 3vw;
		padding: 0 2% 0 2%;
		margin: 0 4% 0 4%;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: .1em;
	}
	#headerNav ul li a {
		text-decoration: none;
		color: black;
	}
	#headerNav ul li a :visited{
		text-decoration: none;
		color: black;
	}
	/*footer styles*/
	#flexParent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: stretch;
	}
	#footerContact {
		background-color: #2b2a24;
		flex-grow: 1;
		flex-basis: 0;
	}
	#footerSocial {
		background-color: #493f3f;
		flex-grow: 1;
		flex-basis: 0;
	}
	#footerNav {
		background-color: #2b2d33;
		flex-grow: 1;
		flex-basis: 0;
	}
	footer section p, footer nav ul li {
		padding: 0 0 1vw 5vw;
		font-size: 2vw;
		color: #f4f4f4;
	}
	footer section p {
		padding-bottom: 0;
	}
	footer nav ul li a, footer section a {
		color: #f4f4f4;
	}
	.footerNavChilds {
		display: inline;
	}
	#mobileTel {
		 padding-left: 5vw;
		 margin-bottom: 1%;
		 font-size: 2vw;
		 color: #f4f4f4;
	 }
	footer nav ul li a:visited, footer section a:visited {
		color: #f4f4f4;
	}
	.footerTitles, nav#footerNav h4 {
		font-family: 'Open Sans', sans-serif;
		font-size: 3vw;
		padding: 0 0 2% 3vw;
		color: #f4f4f4;
	}
	#numberMobile {
		padding-bottom: 1%;
		font-size: 5vw;
	}
	footer section section, footer section nav {
		padding-top: 3%;
		padding-bottom: 5%;
	}
		/*End of footer styles*/
		/*Main Styles*/
	main section h3 {
		padding: 1% 0 0 4%;
	}
	main section p {
		font-size: 2.5vw;
		padding: 1% 10% 0 8%;
	}
	main section img {
		padding: 0 10% 0 8%;
		width: 77%;
	}
	}
