/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.headerContainer {
	display: grid;
	grid-template-columns: 8% auto 50% 8%;
	grid-template-rows: 70px 70px;
	justify-content: start;
	background:
		linear-gradient(
			to right,
			rgba(66, 66, 66, .90),
			rgba(255, 255, 255, 0.1)
		),
		url("images/header.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
#logo {
	justify-self: end;
	grid-column: 2/3;
	grid-row: 1/3;
	height: 80%;
	padding: 5%;
}
#title {
	grid-column: 3/4;
	grid-row: 1/2;
	font-size: 3vw;
	color: white;
	padding: 10px;
}
.headerNav {
	grid-column: 3/4;
	grid-row: 2/3;
	padding: 1.5%;
	margin-top: 1%;
}
.headerNav ul {
	padding: 10px;
}
.headerNav ul li {
	display: inline;
	font-size: 2vw;
	padding: 0 2% 0 2%;
	margin: 0 2% 0 0;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: .1em;
	vertical-align: baseline;
}
.headerNav ul li a {
	text-decoration: none;
	color: black;
}
.headerNav ul li a:visited{
	text-decoration: none;
	color: black;
}
.contactUs {
	display: grid;
	grid-template-columns: 8% 1fr 1fr 4%;
	grid-template-rows: 40px 40px 70px;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}
#formEmail {
	grid-column: 2/3;
	grid-row: 1/2;
	border: none;

}
#formName {
	grid-column: 3/4;
	grid-row: 1/2;
	border: none;

}
#formSubject {
	grid-column: 2/4;
	grid-row: 2/3;
	border: none;

}
#formBody {
	grid-column: 2/4;
	grid-row: 3/4;
	border: none;

}
#formBody:focus, #formEmail:focus, #formName:focus, #formSubject:focus {
	border: 2px solid gray;
}
@media only screen and (max-width: 667px) {
.wrapper {
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	/*width: 660px;*/
}
.hidden {
	display: none;
}
.headerContainer {
	display: grid;
	grid-template-columns: 5% auto 70%;
	grid-template-rows: 50px auto;
	padding: 2%;
	background:
		linear-gradient(
			to right,
			rgba(66, 66, 66, .90),
			rgba(255, 255, 255, 0.1)
		),
		url("images/header.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
#logo {
	grid-column: 2/3;
	grid-row: 1/3;
	height: 15vh;
	width: 15vh;
	padding-bottom: 3%;
}
#title {
	grid-column: 3/4;
	grid-row: 1/2;
	font-size: 6vw;
	color: white;
}
.headerNav {
	grid-column: 3/4;
	grid-row: 2/3;
	padding: 1.5%;
	margin-top: 2%;
	text-align: center;
}
.headerNav ul li {
	display: inline;
	font-size: 5vw;
	padding: 0 2% 0 2%;
	margin: 0 1%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: .1em;
}
.headerNav ul li a {
	text-decoration: none;
	color: black;
}
.headerNav ul li a:visited{
	text-decoration: none;
	color: black;
}
h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 8vw;
}
	/*Footer styles*/
#footerContact {
	background-color: #2b2a24;
}
#footerNav {
	background-color: #2b2d33;
}
#footerSocial {
	background-color: #493f3f;
}
footer section p, footer nav ul li {
	padding: 0 0 5vw 20vw;
	font-size: 5vw;
	color: #f4f4f4;
}
footer section p {
	padding-bottom: 0;
}
footer nav ul li a, footer section a {
	color: #f4f4f4;
}
#mobileTel {
	 padding-left: 20vw;
	 margin-bottom: 3%;
	 font-size: 5vw;
	 color: #f4f4f4;
 }
footer nav ul li a:visited, footer section a:visited {
	color: #f4f4f4;
}
.footerTitles, nav#footerNav h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 7vw;
	padding: 0 0 1% 10%;
	color: #f4f4f4;
}
#numberMobile {
	padding-bottom: 2%;
}
footer section section, footer section nav {
	padding-top: 3%;
	padding-bottom: 5%;
}
	/*End of footer styles*/
	/*Main Styles*/
main section h3 {
	padding: 3% 0 0 8%;
}
main section p {
	font-size: 5vw;
	padding: 3% 10% 0 15%;
}
main section img {
	padding: 0 10% 0 8%;
	width: 77%;
}
/*sort box styles*/
.removeItem {
	display: inline;
	width: 5vw;
	height: 5vw;
	padding: 0 0 0 15%;
}
.sortBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sortCheckboxes {
	display: inline;
	width: 40%;
}
.sortInputs {
	display: inline;
	width: 60%;
}
#submitButton {
	padding-left: 100%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 3vw;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 3vw;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 3vw;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 3vw;
}
}
	/*Tablet*/
@media only screen
and (min-width:668px)
and (max-width:1023px) {
.wrapper {
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
}
.hidden {
	display: none;
}
.sortBox {
	display: grid;
	grid-template-columns: 8% 60% 24% 8%;
	grid-template-rows: auto;
}
.sortInputs {
	grid-column-start: 2;
	grid-column-end: 3;
}
.sortCheckboxes {
	grid-column-start: 3;
	grid-column-end: 4;
}
#submitButton {
	margin-left: 31%;
}
.removeItem {
	padding: 0;
}
.headerContainer {
	display: grid;
	grid-template-columns: 1px auto 70% 8%;
	grid-template-rows: 70px 70px;
	justify-content: start;
	background:
		linear-gradient(
			to right,
			rgba(66, 66, 66, .90),
			rgba(255, 255, 255, 0.1)
		),
		url("images/header.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
#logo {
	justify-self: end;
	grid-column: 2/3;
	grid-row: 1/3;
	height: 80%;
	padding: 5%;
}
#title {
	grid-column: 3/4;
	grid-row: 1/2;
	font-size: 6vw;
	color: white;
	padding: 10px;
}
.headerNav {
	grid-column: 3/4;
	grid-row: 2/3;
	padding: 1.5%;
	margin-top: 1%;
}
.headerNav ul {
	padding: 10px;
}
.headerNav ul li {
	display: inline;
	font-size: 4vw;
	padding: 0 2% 0 2%;
	margin: 0 2% 0 0;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: .1em;
	vertical-align: baseline;
}
.headerNav ul li a {
	text-decoration: none;
	color: black;
}
.headerNav ul li a:visited{
	text-decoration: none;
	color: black;
}
h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 5vw;
}
/*footer styles*/
#flexParent {
	display: flex;
	flex-flow: row wrap;
}
#footerContact {
	background-color: #2b2a24;
	padding: 5%;
}
#footerSocial {
	background-color: #493f3f;
	padding: 5%;
	height: 200px;
}
.aboveNav {
	flex: 1 auto;
	padding: 1%;
}
#footerNav {
	background-color: #2b2d33;
	flex: 1 100%;
	padding: 5%;
	height: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}
.footerNavChilds {
	flex-grow: 1;
}
footer section p, footer nav ul li {
	padding: 0 0 1vw 5vw;
	font-size: 2.5vw;
	color: #f4f4f4;
}
footer section p {
	padding-bottom: 0;
}
footer nav ul li a, footer section a {
	color: #f4f4f4;
}
#mobileTel {
	 padding-left: 5vw;
	 margin-bottom: 1%;
	 font-size: 3.5vw;
	 color: #f4f4f4;
 }
footer nav ul li a:visited, footer section a:visited {
	color: #f4f4f4;
}
.footerTitles, nav#footerNav h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 4vw;
	padding: 0 0 2% 3vw;
	color: #f4f4f4;
}
	/*End of footer styles*/
	/*Main Styles*/
main section h3 {
	padding: 3% 0 0 4%;
}
main section p {
	font-size: 2.5vw;
	padding: 3% 10% 0 8%;
}
main section img {
	padding: 0 10% 0 8%;
	width: 77%;
}
main section {
	padding-bottom: 5%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 3vw;
	font-family: inherit;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 3vw;
	font-family: inherit;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 3vw;
	font-family: inherit;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 3vw;
	font-family: inherit;
}
}
	/*Desktop*/

@media only screen and (min-width: 1024px) {
.wrapper {
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
}
.hidden {
	display: none;
}
h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 4vw;
}
.headerNav ul li a {
	position: relative;
	color: inherit;
	text-decoration: none;
}
.headerNav ul li a:hover {
	color: black;
}
.headerNav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.headerNav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*footer styles*/
#flexParent {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
}
#footerContact {
	background-color: #2b2a24;
	flex-grow: 1;
	height: 120px;
	padding-top: 5px;
}
#footerSocial {
	background-color: #493f3f;
	flex-grow: 1;
	height: 120px;
	padding-top: 5px;
}
#footerNav {
	background-color: #2b2d33;
	height: 120px;
	padding-top: 5px;
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}
.footerNavChilds {
	flex-grow: 1;
}
footer section p, footer nav ul li {
	padding: 0 0 1vw 5vw;
	font-size: 1vw;
	color: #f4f4f4;
}
footer section p {
	padding-bottom: 0;
}
footer nav ul li a, footer section a {
	color: #f4f4f4;
}
#mobileTel {
	 padding-left: 5vw;
	 margin-bottom: 1%;
	 font-size: 1vw;
	 color: #f4f4f4;
 }
footer nav ul li a:visited, footer section a:visited {
	color: #f4f4f4;
}
.footerTitles, nav#footerNav h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2vw;
	padding: 2% 0 2% 3vw;
	color: #f4f4f4;
}
#numberMobile {
	padding-bottom: 1%;
	font-size: 1vw;
}
footer section section, footer section nav {
	padding-top: 3%;
	padding-bottom: 5%;
}
	/*End of footer styles*/
	/*Main Styles*/
main section h3 {
	padding: 1% 0 0 8%;
	font-size: 3vw;
}
main section p {
	font-size: 1vw;
	padding: 1% 10% 0 8%;
}
main section img {
	width: 90%;
	padding: 0 10% 0 8%;
}
main {
	margin-bottom: 1%;
}
.sortBox {
	display: grid;
	grid-template-columns: 8% 60% 24% 8%;
	grid-template-rows: auto;
}
.sortInputs {
	grid-column-start: 2;
	grid-column-end: 3;
}
.sortCheckboxes {
	grid-column-start: 3;
	grid-column-end: 4;
}
.submitButton {
	margin-left: 31%;
}
.removeItem {
	padding: 0;
}
/*Home page example styles*/
.homeExamples {
	margin-top: 1%;
	display: grid;
	grid-template-columns: 8% 40% 40% 8%;
	grid-template-rows: 50px auto;
}
.homeExamples h3 {
	grid-column: 2/4;
	grid-row: 1/2;
	padding: 1%;
}
.homeFeatured {
	grid-column: 2/3;
	grid-row: 2/3;
}
.homePopular {
	grid-column: 3/4;
	grid-row: 2/3;
}
/*About Us Styles (from about tab)*/
.homeAboutUs {
	display: grid;
	grid-template-columns: 4% 36% 25% 4%;
	grid-template-rows: 60px auto;
	grid-column-gap: 20px;
}
.homeAboutUs h3{
	grid-column: 2/4;
	grid-row: 1/2;
	padding: 0;
}
.homeAboutUs img {
	grid-column: 2/3;
	grid-row: 2/3;
	padding: 0 0 0 8%;
	justify-self: end;
}
.homeAboutUs p {
	grid-column: 3/4;
	grid-row: 2/3;
	justify-self: start;
	padding: 0;
}
/*Returned Recipes styles*/
.recipesReturned {
	display: grid;
	grid-template-columns: 8% 46% auto 8%;
	grid-template-rows: 40px auto;
}
.recipesReturned h3 {
	grid-column: 2/3;
	grid-row: 1/2;
}
.recipesReturned img {
	width: 80%;
	grid-column: 2/3;
	grid-row: 2/3;
	padding: 0;
}
.recipesReturned p {
	grid-column: 3/4;
	grid-row: 2/3;
	font-size: 2vw;
	background-color: #efefef;
}
}
